:root{
  --heightProduct: 87px;
  --widthProduct: 200px;
  --heightProductO: 2px;
  --heightProductTw: 7px;
  --heightProductTh: 13px;
  --heightProductF: 19px;
  --mergLeftProd: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    font-weight: normal;
    text-align: center;
  }


h4{
  margin: 1% 10%;
  padding: 24px 0px 0px 71px;
}

#content {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 500px;
  height: 450px;
  /*
  border: 4px outset black;
  */
}

#products {
  float: left;
  width: 200px;
  height: 378px;
  border: 2px black dashed;
  border-radius: 48px;
  padding: 10px;
  font-size: 20px;
}

.product_1 {
  background-image: url("../src/printer.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 4% 50%;

  position: relative;
  left: -5px;
  padding: .1rem;
  width: var(--widthProduct);
  height: var(--heightProduct);
  border: 2px outset black;
  border-radius: 48px;
  user-select: none;
}
.product_2 {
  background-image: url("../src/headphones.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 4% 50%;

  position: relative;
  padding: .1rem;
  left: -5px;
/*  background: Honeydew;*/
  width: var(--widthProduct);
  height: var(--heightProduct);
  border: 2px outset black;
  border-radius: 48px;
  user-select: none;
}
.product_3 {
  background-image: url("../src/phone.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 4% 50%;

  position: relative;
  padding: .1rem;
  left: -5px;
  width: var(--widthProduct);
  height: var(--heightProduct);
  border: 2px outset black;
  border-radius: 48px;
  user-select: none;
}
.product_4 {
  background-image: url("../src/camera.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 4% 50%;

  position: relative;
  padding: .1rem;
  left: -5px;
  width: var(--widthProduct);
  height: var(--heightProduct);
  border: 2px outset black;
  border-radius: 48px;
  user-select: none;
}

.product__price{
  position: relative;
  margin: 103px 0px 8px 74px;
}

.product__count{
  position: absolute;
  margin: 0px 0px 0px 32px;
}

.product {

    text-align: center;
}

#basket {
  float: right;
  background: Honeydew;
  width: 200px;
  height: 378px;
  border: 2px black dashed;
  border-radius: 48px;
  padding: 10px;
  font-size: 20px;

}
